<ul class="box-list_container">
    {{#each this}} {{#if active}}
    <li class="box-list" id={{id}}>
        <h2>{{name}}</h2>
        <img src="{{image}}" />
        <ul class="list">
            {{#each hobbies}}
            <li class="list-item">{{this}}</li>
            {{/each}}
        </ul>
        {{/if}}
        <button class="del">DELETE</button>
    </li>
    {{/each}}

</ul>